@import '~antd/dist/antd';

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 15px;
}

.layout {
  min-height: 100vh;
}

.mb-1 {
  margin-bottom: 1em;
}

.ant-table-row {
  cursor: pointer;
}

.ant-page-header {
  margin-bottom: 30px;
}
